*,*::after,*::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{font-family:Arial, Verdana, sans-serif}.container .block{min-height:200px;min-width:200px;max-width:300px;color:white;padding:0.5em;background-color:#333;border:0.1em solid #DDD}.container .block h2{margin:0;font-weight:normal}.container .block.small{min-height:auto;min-width:auto;width:100px;height:100px}.container .bg-blue{background-color:blue}.container .bg-green{background-color:green}.container .bg-purple{background-color:purple}


/* #1 Using absolute positioning in addition to the z-index property (for layering), please position box #1 behind box #2. */
.block {
	position: absolute;
    /* set the position of the first block to the top-left corner of the container */
	top: 0;
	left: 0;
    /* set the z-index order so it appears on behind other elements */
	/* Definition: The z-index property specifies the stack order of an element.An element with greater stack order is 
	always in front of an element with a LOWER stack order. */ 
	z-index: 1;
}
.block bg-blue{
	position: absolute;
	top: 2rem;
	left: 2rem;
	z-index: 2;
}
/* #2 Using a combination of relative and absolute positioning on box #2 and #3, please position box #3 in the bottom-right corner of box #2. */
.container {
    /* relative makes the container the reference point for absolutely positioned child elements */
	/* position relative tutorial link https://www.w3schools.com/cSS/css_position.asp */
	position: relative; 
}
/* Position the small green block within the second block. The .small is for elements with the class small which happens to be the green block */
.block bg-green small {
    position: absolute;
	/*  Find the second block and position the small block within it to right and bottom 0 */
    right: 0;
    bottom: 0;
}
/* #3 Using fixed positioning, please position box #4 in the bottom-right corner of the browser window.*/
.block bg-purple{

    /* Set it to fixed positioning*/
    position:fixed;
    bottom: 0;
    right: 0;
    /* Set the width and height for the fixed-positioned block to 25vw and 25vh */
    width: 25vw;
    height: 25vh;
}
