*,*::after,*::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{font-family:Arial, Verdana, sans-serif}.container .block{min-height:200px;min-width:200px;max-width:300px;color:white;padding:0.5em;background-color:#333;border:0.1em solid #DDD}.container .block h2{margin:0;font-weight:normal}.container .block.small{min-height:auto;min-width:auto;width:100px;height:100px}.container .bg-blue{background-color:blue}.container .bg-green{background-color:green}.container .bg-purple{background-color:purple}



/* Set the container to relative positioning and make it the reference point for absolutely positioned child elements */
.container {
    /* relative makes the container the reference point for absolutely positioned child elements */
	position: relative; 

    /* Set a min-height to ensure the container has enough height to contain the absolutely positioned elements */
	min-height: 430px;
}

/* Now target the first child block */
.container > .block:first-child {
    /* absolute positions the first block element relative to its nearest positioned ancestor */
	position: absolute;

    /* set the position of the first block to the top-left corner of the container */
	top: 0;
	left: 0;

    /* set the z-index order so it appears on behind other elements */
	z-index: 1;
}

/* Now target the second child block */
.container > .block:nth-child(2) {
	position: absolute;

    /* Same thing, but positioned further down and to the right, and z-index is greater so it appears on top of the first block */
	top: 2rem;
	left: 2rem;
	z-index: 2;
}

/* Position the small green block within the second block. The .small is for elements with the class small which happens to be the green block */
/* Basically find the second block -> and position the small block within it to right and bottom 0 */
.container > .block:nth-child(2) .small {
    position: absolute;
    right: 0;
    bottom: 0;
}


.container > .block:nth-child(3) {

    /* Set child 3 (not 4 cause the small block is inside the second block), and set it to fixed positioning*/
    position:fixed;
    bottom: 0;
    right: 0;

    min-width: 0;
    min-height: 0;

    /* needed this because of the rule at the top limiting max width */
    max-width: none;

    /* Set the width and height for the fixed-positioned block to 25vw and 25vh */
    width: 25vw;
    height: 25vh;
}
